{% extends "base.html.twig" %}

{% block title %}

    {{ title }}

{% endblock %}

{% block body %}


    <div class="container">
        <div class="row ">
                <div class="col-lg-4 d-flex justify-content-center" style="border-style: solid; border-color: #5eb5e0; border-width: 1px">
                    <h2>Test</h2>
                </div>
                <div class="col-lg-8 d-flex justify-content-center" style="border-style: solid; border-color: #5eb5e0; border-width: 1px">
                    <h2>Test</h2>
                </div>
        </div>
    </div>

{% endblock %}
